.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: "Segoe UI", sans-serif;
}

.auth-container {
  width: 380px;
  padding: 32px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  animation: fadeIn 0.6s ease-out;
}


@media screen and (max-width:896px) {
    .auth-container {
        margin-top: 50px;
    }
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}


.auth-container input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
    background: rgba(255, 255, 255, 0.25);
  outline: none;
  transition: 0.2s;
}
input::placeholder {
  color: #d4d1d1;
}

.auth-container input:focus {
  border-color: #667eea;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.15);
}


.auth-container button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.auth-container button:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 25px rgba(102, 126, 234, 0.35);
}


.error {
  color: red;
  padding: 10px;
  border-radius: 8px;
  font-size: 13px;
  margin-bottom: 14px;
  text-align: center;
  border: 1px solid #fff;
}


.auth-container p {
  text-align: center;
  font-size: 14px;
  margin-top: 16px;
  color: #000;
}

.auth-container span {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.auth-container span:hover {
  text-decoration: underline;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.password-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 14px;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; 
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-70%);
  cursor: pointer;
  color: #333;
  font-size: 16px;
}


